body{
    background-color: rgb(195, 220, 227);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
form {
  margin-top: 5%;
  text-align: center;
}